@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2c3e50; /* Dark Blue */
  --secondary-color: #e74c3c; /* Red */
  --accent-color: #1abc9c; /* Teal */
  --background-color: #ecf0f1; /* Light Grey */
  --text-color: #34495e; /* Dark Grey */
  --button-color: #3498db; /* Blue */

  --font-size-h1: 36px; /* Main titles */
  --font-size-h2: 28px; /* Subheadings */
  --font-size-h3: 22px; /* Smaller headings */
  --font-size-body: 16px; /* Body text */
  --font-size-button: 14px; /* Button text */
}
